run = ".venv/bin/python main.py"
language = "python"
modules = ["python-3.11"]

[env]
PYTHONPATH = "/home/runner/workspace"

[nix]
enabled = true
packages = ["cacert", "cargo", "glibcLocales", "gmp", "libiconv", "libxcrypt", "python39Packages.uvicorn", "rustc", "unzipNLS"]

[[ports]]
localPort = 8080
externalPort = 80
